mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		+e.wrapper
			.container
				+e.row.row
					.col-auto.col-lg-6.col-xl-4
						+b.section-title
							h2 отправьте запрос
							p и&nbsp;Вам перезвонит специалист, который:
					.col-md.d-xl-flex.justify-content-center
						ul
							li
								span ответит 
								| на&nbsp;все интересующие вопросы
							li 
								span подробно 
								| расскажет о&nbsp;продукте
							li 
								span подберёт 
								| материал под Ваш проект и&nbsp;бюджет
					.col-xl-auto
						+form-wrap
							+e.row.row
								.col-12.col-md.col-lg-6.col-xl-12
									+input('','tel')(required)
										+e.placeholder ваш телефон
								.col-6.col-md-auto.col-xl-6
									+e.btn.btn.btn-primary(type="submit") позвонить
								.col-6.col-md-auto.col-xl-6
									+e.btn.btn.btn-primary(type="submit") написать
	// end sForm