
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win--form
			+form-wrap
				.form-data.h5 Оставьте заявку и выберете удобное время звонка
				+input("+7 (_ _ _) - _ _ _ - _ _ - _ _", 'tel', 'Введите номер телефона:')(required)  
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ) перезвоните мне
				+policy()
	// #modal-call

	div(id="modal-socials"  style="display: none" )
		+b.modal-win--socials
			.h5 напишите нам:
			.row
				.col-6
					+e.soc-item(href="#")
						+img('img/whatsapp-modal.png')
						span WhatsApp
				.col-6
					+e.soc-item(href="#")
						+img('img/telegram-modal.png')
						span Telegram

	// modal-socials

	div(id="modal-accepted"  style="display: none" )
		+b.modal-win--accepted
			.h5 ваше обращение принято.&nbsp;в&nbsp;течении 30&nbsp;минут пришлём расчёт.

	// #modal-accepted
	
	div(id="modal-blog"  style="display: none" )
		+b.modal-win--blog
			.row

				+e.caption-col.col-lg-6
					.sBlog__head
						.sBlog__title Потрясающий дом с отделкой Термодеревом
						.sBlog__date 19.05.2023 г.
					.sBlog__body
						p Хорошая погода-отличный повод для съемки нового объекта с применением планкена из Термоясеня.  В проекте использовали широкую доску для фасада 20х160 мм, общий объем планкена скошенного 1350м². Покрытием натуральным немецким маслом.

						p Обязательно переходите и смотрите на youtube новый видео-ролик с объекта.
					+e.slider--thumbs-js.swiper
						.swiper-wrapper
								- for (var x = 0; x < 7; x++)
									+e.slide.swiper-slide
										+e.img-wrap
											+img("img/blog-img.jpg",'bg')
				+e.slider-col.col-lg-6.order-lg-first
					+e.slider--js.swiper
						.swiper-wrapper
								- for (var x = 0; x < 7; x++)
									+e.slide.swiper-slide
										+e.img-wrap
											+img("img/blog-img.jpg",'bg')
	// #modal-blog
	
	div(id="modal-questions"  style="display: none" )
		+b.modal-win--questions
			+e.head-row.row
				.col
					.form-data.h5 Оставьте заявку и выберете удобное время звонка
				.col-auto
					+e.next(href="#"): +icon('chevron-right') 
			+e.question-title 1. Выберите область применения Термодерева
			+e.body-row.row
				.col-sm
					+in-c('radio')
						+e.img-wrap
							.img-wrap-center
								+img('img/modal-img-1.jpg', 'bg')
						+e.text Фасадная доска
				.col-sm
					+in-c('radio')
						+e.img-wrap
							.img-wrap-center
								+img('img/modal-img-2.jpg', 'bg')
						+e.text Террасная доска
	// #modal-questions

	div(id="modal-questions2"  style="display: none" )
		+b.modal-win--questions
			+e.head-row.row
				.col
					.form-data.h5 Оставьте заявку и выберете удобное время звонка
				.col-auto
					+e.next(href="#"): +icon('chevron-right') 
			+e.question-title 2. Выберите породу Термодерева
			+e.body-row.row
				.col-sm
					+in-c('radio' ,'', 'wood2')
						+e.img-wrap
							.img-wrap-center
								+img('img/prod-1.jpg', 'bg')
						+e.text Термоясень
				.col-sm
					+in-c('radio' ,'', 'wood2')
						+e.img-wrap
							.img-wrap-center
								+img('img/prod-2.jpg', 'bg')
						+e.text Термопихта
				.col-sm
					+in-c('radio' ,'', 'wood2')
						+e.img-wrap
							.img-wrap-center
								+img('img/prod-3.jpg', 'bg')
						+e.text Термохвоя
			+e.question-title--indent 3. Выберите профиль
			+e.body-row.row
				.col-sm
					+in-c('radio', '', 'rectangle')
						+e.rectangle
						+e.text Прямой планкен
				.col-sm
					+in-c('radio', '', 'rectangle')
						+e.rectangle--skew
						+e.text Косой планкен
				.col-sm
					+in-c('radio', '', 'rectangle')
						+e.rectangle ?
						+e.text Под заказ
			+e.question-title--indent 4. Выберите объем (м²)
			input(type="text").js-range-slider
			+e.range-input-wrap
				input(type="text").js-range-input
				span м²
			+e.question-title 5. Комментарии
			+input('', 'textarea')
			+upload-field()
			+e.footer-row.row
				.col-lg Куда отправить расчёт?
				.col-lg-auto
					.row
						.col-sm-4
							+e.soc-item(href="#")
								+img('img/whatsapp-modal.png')
								span WhatsApp
						.col-sm-4
							+e.soc-item(href="#")
								+img('img/telegram-modal.png')
								span Telegram
						.col-sm-4
							+e.soc-item(href="#")
								+img('img/mail-modal.png')
								span E-mail
	// #modal-questions

	// end modals