mixin sCatalogPage(data)
	// start sCatalogPage
	+b.SECTION.sCatalogPage.section#sCatalogPage&attributes(attributes)
		.container
			+e.grid
				mixin grid-item(x,t)
					+e.item.bg-wrap
						//- img(src=`img/gal-${x}.jpg`, alt="")
						+img(`img/catalogItem-page-${x}.jpg`).picture-bg
						+e.btn.btn.btn-primary(href="#")= t
				- for (var x = 0; x < 1; x++)
					+grid-item(`1`,`фасадная  доска`)
					+grid-item(`2`,`террасная доска`)
					+grid-item(`3`,`подшивка крыши`)
					+grid-item(`4`,`доска пола`)
					+grid-item(`5`,`крепежи и подсистема`)
					+grid-item(`6`,`мебельные щиты`)
					+grid-item(`7`,`обрезная доска`)
	// end sCatalogPage