// start .sSlider
.sSlider {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: 0;
  h3 {
    font-weight: 500;
    font-size: rem(20);
    text-transform: uppercase;
    margin-bottom: rem(8);
  }
  .swiper-horizontal {
    overflow: visible;
  }
  .swiper-pagination-fraction {
    text-align: end;
    padding-right: rem(43);
    --swiper-pagination-bottom: #{rem(-46)};
    @include media-breakpoint-up(md) {
      --swiper-pagination-bottom: #{rem(-56)};
    }
    span {
      font-size: rem(14);
      @include media-breakpoint-up(md) {
        font-size: rem(20);
      }
      &:first-child {
        font-weight: bold;
      }
    }
  }
  &__item {
		&:hover {
			&::after {
				background-color: transparent;
			}
		}
    &::after {
      content: '';
			@include mt;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $black;
      opacity: .2;
    }
  }
  .swiper-button-prev {
    --swiper-theme-color: $black;
    top: calc(100% + 35px);
    opacity: 1;
    left: auto;
    right: 80px;
    &::after{
      content: none;
    }
    @include media-breakpoint-up(md) {
      top: calc(100% + 40px);
      right: 100px;
    }
  }
  .swiper-button-next {
    --swiper-theme-color: #535353;
    top: calc(100% + 35px);
    .icon {
      font-size: rem(16);
      @include media-breakpoint-up(md) {
        font-size: rem(22);
      }
    }
    &::after{
      content: none;
    }
    @include media-breakpoint-up(md) {
      top: calc(100% + 40px);
    }
  }

  &--palette {
	--sPB: #{rem(10)};
    .section-title {
      margin-bottom: rem(26);
    }
    .slider-wrapper {
      margin-bottom: rem(70);
      &:last-child {
        margin-bottom: rem(50);
      }
    }
  }

  @include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}
}

// end .sSlider
.palette-item {
  &__title {
    position: absolute;
    bottom: rem(16);
    left: 50%;
    transform: translateX(-50%);
		font-size: rem(16);
    color: $white;
    @include media-breakpoint-up(md) {
      font-size: rem(20);
    }
  }
}

.sSlider--palette2 {
  .slider-wrapper:last-child {
    margin-bottom: rem(20);
  }
}

.sSlider-3 {
	--sPT: #{rem(30)};
	--sPB: #{rem(20)};
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: calc(100% - 120px);
  top: calc(100% + 34px);
  @include media-breakpoint-up(sm) {
    width: 74%;
  }
  @include media-breakpoint-up(md) {
    top: calc(100% + 39px);
    width: 77%;
  }
  // position: relative;
}

.swiper-pagination-progressbar {

  --swiper-theme-color: #{#535353};
  --swiper-pagination-color: var(--swiper-theme-color);
  // --swiper-pagination-left: auto;
  // --swiper-pagination-right: 8px;
  // --swiper-pagination-bottom: 8px;
  // --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.75);
  --swiper-pagination-progressbar-size: 0.5px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  // --swiper-pagination-color: #{#ff0202};
  top: -1px;
  height: 600%;
  // border-radius: 10px;
}

.fancybox__slide.has-caption {
  flex-direction: column;
  .fancybox__content {
    &::after {
      content: 'Трёхслойная инженерная доска Дуб, сорт Натур, 16х155 мм';
      position: absolute;
      padding: rem(15) rem(19);
      background: rgba(255, 255, 255, 0.6);
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: rem(56);
      font-size: rem(14);
      line-height: 131%;
      @include media-breakpoint-up(md) {
        font-size: rem(20);
        min-height: rem(86);
      }
    }
  }
  .fancybox__caption {
    color: $black;
    // position: absolute;
    --fancybox-color: #{$black};
    font-size: rem(20);
    // background: rgba(255, 255, 255, 0.6);
    line-height: 131%;
    min-height: rem(86);
    position: relative;
    padding: rem(15) rem(19);
    max-width: rem(602);
    // top: rem(-86);
    z-index: 20;
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}
