mixin sSecretes(data)
	// start sSecretes
	+b.SECTION.sSecretes.section#sSecretes&attributes(attributes)
		.container
			+b.section-title
				h2 
					strong секрет нашей успешной работы - 
					| любовь к&nbsp;своему делу и&nbsp;ответственность за&nbsp;каждый заказ
			+e.row.row
				mixin item(i)
					+e.col.col-lg-4.col-sm-6
						+e.item
							if block 
								block
							else
								+img(i)
				+item(`img/secret-1.jpg`)
				+item(`img/secret-2.jpg`)
				+item(`img/secret-3.jpg`)
				+item()
					h2 приглашаем в&nbsp;гости на&nbsp;чашечку кофе
					p Приглашаем Вас посетить шоу рум Термо Вуд  в&nbsp;г. Химки. Вы&nbsp;можете с&nbsp;уверенностью расчитывать на&nbsp;наших специалистов, которые честно расскажут плюсы и&nbsp;минусы нашей продукции и&nbsp;подберут наиболее подходящий материал под Ваш проект и&nbsp;бюджет. В&nbsp;нашем шоу руме представлены стенды в&nbsp;натуральную величину, что дает возможность визуально представить Термодревесину на&nbsp;Вашем фасаде или террасе.
					a.btn.btn-light(href="#") посмотреть на карте
				+item(`img/secret-4.jpg`)
				+item(`img/secret-5.jpg`)
				+item(`img/secret-6.jpg`)
				+item(`img/secret-7.jpg`)
				+item()
					h2 образцы продукции  и&nbsp;каталоги
					p Всем нашим гостям мы&nbsp;бесплатно предоставляем каталоги и&nbsp;живые образцы, которые можно взять с&nbsp;собой и&nbsp;примерить к&nbsp;другим материалам в&nbsp;проекте. Большой выбор профилей и&nbsp;цветовых решений Вас приятно удивит. Также мы&nbsp;бесплатно осуществляем подбор цвета по&nbsp;индивидуально заданным параметрам.
					a.btn.btn-light(href="#") получить образцы
				+item()
					h2 всё дело в подходе
					p Мы предлагаем комплексное решение для проекта, а также сопровождаем на всех этапах. 

					p С нами вы получите:
					ul
						li фасадную / террасную доску высшего качества;
						li лучшее на рынке защитное покрытие для внешней отделки маслами Kreidezeit li (Германия)
						li помощь в комплектации заказа подсистемой (крепежи, направляющие, саморезы);
						li в случае необходимости - услуги по монтажу;
						li бесплатный технадзор Ваших подрядчиков с целью сминимизировать ошибки при монтаже нашей доски;
						li помощь в обновлении;
						li сопровождение на весь период эксплуатации.
					a.btn.btn-light(href="#") получить образцы
				+item(`img/secret-6.jpg`)
				+item(`img/secret-7.jpg`)
	// end sSecretes