mixin sPortfolio(data)
	// start sPortfolio
	+b.SECTION.sPortfolio.section#sPortfolio&attributes(attributes)
		.container
			+b.section-title
				h2 портфолио проектов
					br
					b  гордимся каждым и&nbsp;благодарим за&nbsp;доверие
		+e.wrapper
			+e.item
				+img(`img/sPortfolio-1.jpg`, 'bg')
				+e.btn.btn.btn-primary(href="#") фасадная доска
			+e.item
				+img(`img/sPortfolio-2.jpg`, 'bg')
				+e.btn.btn.btn-primary(href="#") подшивка крыши
			+e.item
				+img(`img/sPortfolio-3.jpg`, 'bg')
				+e.btn.btn.btn-primary(href="#") террасная доска
			
	// end sPortfolio
mixin sPortfolioSlider(data)
	// start sPortfolio
	+b.SECTION.sPortfolio.section#sPortfolio&attributes(attributes)
		.container
			+b.section-title
				h2 
					strong выполненные проекты 
					| фасадная доска 
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 1; x < 4; x++)
					+e.slide.swiper-slide
						+e.item(href=`img/sPortfolio-${x}.jpg` data-fancybox="portfolio") 
							+img(`img/sPortfolio-${x}.jpg`, 'bg')
							+e.zoom
								+icon("zoom")
							.swiper-lazy-preloader
							.swiper-lazy-preloader
				- for (var x = 1; x < 4; x++)
					+e.slide.swiper-slide
						+e.item(href=`img/sPortfolio-${x}.jpg` data-fancybox="portfolio").bg-wrap
							+img(`img/sPortfolio-${x}.jpg`, 'bg').picture-bg
							+e.zoom
								+icon("zoom")
							.swiper-lazy-preloader
	// end sPortfolio