mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, possimus!

			.row
						
	// end headerBlock