mixin sPalette(h)
	// start sPalette
	+b.sPalette.section&attributes(attributes)
		.container
			+b.section-title
				h2!= h
			+e.content
				mixin item(img)
					+e.item(href=`img/sPalette-${img}.jpg` data-fancybox="sPalette") 
							+img(`img/sPalette-${img}.jpg`, 'bg')
				block

	// end sPalette