mixin sProjects(data)
	// start sProjects
	+b.SECTION.sProjects.section#sProjects&attributes(attributes)
		.container
			+e.head
				.row
					.col-lg
						div: +in-c('checkbox', `Все проекты`)
					.col-sm.col-6
						div: +in-c('checkbox', `Фасадная доска`)
						div: +in-c('checkbox', `Террасная доска`)
						div: +in-c('checkbox', `Подшивка крыши`)
					.col-sm.col-6
						div: +in-c('checkbox', `Термоясень`)
						div: +in-c('checkbox', `Термопихта`)
						div: +in-c('checkbox', `Термохвоя`)
					.col-sm.col-6
						div: +in-c('checkbox', `Менее 100 м²`)
						div: +in-c('checkbox', `Более 300 м²`)
						div: +in-c('checkbox', `Более 1000 м²`)
			.text-end.fw-500.mb-2 2022-2021 г.

			+e.grid
				mixin grid-item(x)
					+e.item(href=`#`)
						//- img(src=`img/gal-${x}.jpg`, alt="")
						+img(`img/project-${x}.jpg`)
						+b.zoom-center
							+icon("zoom")
						+e.caption
							+e.title Фасадная доска из массива Термоясеня
							.row
								.col 20х160 мм
								.col-auto 1000 м²
				- for (var x = 0; x < 5; x++)
					+grid-item(`1`)
					+grid-item(`2`)
					+grid-item(`3`)
					+grid-item(`4`)
					+grid-item(`5`)
					+grid-item(`6`)
					+grid-item(`7`)
					+grid-item(`8`)
					+grid-item(`9`)
					+grid-item(`10`)
					+grid-item(`11`)
					+grid-item(`12`)
					<!-- grid-item -->
	// end sProjects