extends ../layout/main.pug

include ../blocks/sCategories/_sCategories.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTableBlock/_sTableBlock.pug
include ../blocks/sPalette/_sPalette.pug
include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'реечный фасад'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head(title)
		+head-banner('head-1.jpg')
		+sTableBlock
		//- +headerBlock 
		//- +sResult()
		+sContent().pb-0
			.container
				h2 цвет
				p Цена доски указана без покрытия. Доску обязательно нужно покрывать, чтобы защитить от выгорания. Покрытие защитными маслами в производственных условиях стоит от 1500 руб./м2. В услугу входит: шлифовка, покрытие нижней стороны в 1 слой, покрытие лицевой стороны в 2 слоя. Мы используем только проверенные немецкие масла Kreidezeit и Leinos.
				p Фасадная доска из термодерева (термодоска) – это геометрически стабильное, экологичное, долговечное обшивочное изделие из натурального цельного массива (например, из сосны) для внешней и внутренней отделки.
		+sPalette(`цветовая палитра на термоясене`)
			- for (var x = 1; x < 16; x++)
				+item(`${x}`)
		+sPalette(`цветовая палитра на термопихте/термохвое`)
			- for (var x = 1; x < 11; x++)
				+item(`1-${x}`)
		+sContent().pb-0
			.container
				p: strong Любое натуральное дерево необходимо защищать качественными тонированными маслами от:
				ul

					li ВЫГОРАНИЯ. При попадании солнечных лучей доска начинает тускнеть и со временем приобретает грязно-серый оттенок. При этом от выгорания террасную доску защищают ТОЛЬКО тонированные масла
					li ГРЯЗИ И ПЫЛИ. Различные частицы грязи и пыли при попадании на незащищенную доску начинают разрушать верхний слой. Также загрязнения могут глубоко впитаться в пористую поверхность дерева и оставить неприятные пятна, которые будет очень сложно или невозможно сошлифовать
					li ТРЕЩИН. Попадая на незащищенную маслом доску, вода мгновенно впитывается в пористую поверхность живого дерева. При понижении температуры, влага кристаллизуется и на поверхности доски, появляются трещины, что портит внешний вид декинга. Также обязательно защитить торцы доски, это самое слабое место у живого массива. Мы рекомендуем покрывать террасную доску не только сверху, но и снизу. Снизу можно использовать любые дешевые составы. Этот недорогой символический слой с тыльной стороны террасы даст дополнительную защиту.
				h2 рекомендации
				p Исходным материалом для нашей продукции является натуральная древесина, прошедшая экологически чистый процесс обработки по технологии WESTWOOD. Цвет и текстура изделий являются естественными характеристиками натуральной древесины и не могут быть абсолютно идентичными в поставленной партии товара. После термообработки доска все равно имеет склонность к деформации, но в гораздо меньших масштабах, нежели без нее.
				ul
					li До монтажа должна храниться в упаковке производителя. Не допускается проникновение воды внутрь упаковки.
					li Нельзя хранить незащищенную маслом или лаком древесину без упаковки на улице под действием солнечных лучей. Лучше купить средство для обработки, значительно продлив срок службы древесине.
					li Запрещено вкручивать шурупы или забивать гвозди в термодерево без предварительного просверливания отверстий.
					li Запрещено резать планкен (пилить/торцевать) незаточенными пилами (он имеет повышенную плотность, очень хрупкая на скол).
					li В качестве направляющих рекомендуется использовать породы приближенные по плотности к используемой доске (для термоясеня — лиственница, для пихты —термососна или ель).
					li При монтаже требуется оставлять технические зазоры в зависимости от ширины. 100 мм – 1 мм, 120 мм – 2 мм, 140 мм – 4 мм, 160 мм – 6 мм, 180 мм – 8 мм, 200 мм – 10 мм.
					li Рекомендованный шаг лаг для террасы 300-400 мм, для фасада 400-700 мм.
					li Запрещено использовать профиль «шип-паз» (имитация бруса, вагонка и т.д.) при внешней фасадной отделке (отсутствует технологический зазор на расширение).
					li Перед нанесением масла, требуется шлифовка шкурками зернистостью P100/150 (уберет динамические волны и откроет поры).
					li Термодерево выгорает на солнце, поэтому необходима тонировка цветным маслом в два слоя с лицевой стороны и бесцветным с изнаночной стороны. Бесцветное покрытие (даже с УФ-фильтрами) не защищает от выгорания. Мы рекомендуем продукцию Kreidezeit (Германия) и Leinos (Германия).
					li Торцы дерева необходимо закрыть воском, чтобы свести к минимуму возникновение торцевых трещин. Влага проникает в дерево именно в этих местах, и при понижении температуры кристаллизуется и рвет доску, внутри которой она находится.
					p Чтобы обновить покрытие, требуется вымыть дерево (термососну или другое) раствором марсельского мыла, дать просохнуть 24 часа и нанести тонкий слой масла. Террасу необходимо обновлять 1 раз в год, фасад 1 раз в 4 года.
				h2 монтаж
				p Для монтажа (в т.ч. вентилируемых фасадов) предлагаем 2 варианта СКРЫТЫХ пластиковых крепежей: Дуэт (ширина 70-200 мм) и УНО (ширина доски до 140 мм). В качестве направляющих (обрешетки) рекомендуем лиственницу 45х70 мм, при этом шаг между лагами 400-600 мм. Расход лаги 700 руб./м2.

				h2 Крепеж «Дуэт-фасад»
				p Примерный расход крепежа 600 руб./м2, без учета саморезов.
				img(src="img/krep.png" style="float: left; margin-right: 30px; margin-bottom: 30px", alt="")
				ul
					li выполнен из композиционного полимерного материала и не конденсирует влагу;
					li обеспечивает долговечность конструкции террасы благодаря эффективной вентиляции скрытой части конструкции;
					li удобен для монтажа так как снабжен монтажных ограничителем, позиционирующим крепеж относительно края;
					li компенсирует разбухание-усушку и не вызывает коробление;
					li может быть использован с доской шириной от 90 мм до 200 мм;
					li размещение головки шурупа в выемке крепежа обеспечивает идеально ровную поверхность террасы.
				br
				br
				br
				.clearfix
				+img("img/image_63.png")
				
				br
				br
				br
				+img("img/image_60.png")
				h2 Крепеж «УНО 180М и 175S»

				p  Примерный расход крепежа (по городу Москва) 350 руб./м2, без учета саморезов.
				img(src="img/image_61.png" style="float: left; margin-right: 30px; margin-bottom: 30px", alt="")
				ul
					li изготовлен из уникального композиционного материала ПОЛИАМИД; 
					li материал крепежа отлично сочетается со свойствами древесины; 
					li цвет крепежа – под дерево; 
					li изготовлен только из первичного сырья; 
					li может быть использован с доской шириной от 90мм до 140мм.
				br
				br
				br
				.clearfix
				.text-center
					img(src="img/image_62.png" , alt="")
		+sPortfolioSlider
		+sCategoriesCards()

		+sForm()
		//- +sCatalog
		//- +sForm()
		//- +sContact()
		
	+parts('footer')
      



