extends ../layout/main.pug

include ../blocks/sCategories/_sCategories.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sPalette/_sPalette.pug
include ../blocks/sApproach/_sApproach.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sProdCardTabs/_sProdCardTabs.pug
include ../blocks/sSamples/_sSamples.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'фасадная доска'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head()
			h1= title
		+sProdCard()
		+sProdCardTabs()
		+sApproach()
		+sPalette(`цветовая палитра на&nbsp;термоясене`,'Защитное покрытие маслом Kreidezeit + 1500 руб./м2')
			- for (var x = 1; x < 16; x++)
				+item(x)
		+sSamples

		+sPortfolioSlider()
		+sCategoriesCards()
		+sForm()
		//- +sCatalog
		//- +sForm()
		//- +sContact()
		
	+parts('footer')
      



