extends ../layout/main.pug

include ../blocks/sCategories/_sCategories.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTableBlock/_sTableBlock.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sCatalogPage/_sCatalogPage.pug
include ../blocks/sWhatCovering/_sWhatCovering.pug
include ../blocks/sRecommendation/_sRecommendation.pug
include ../blocks/sPalette/_sPalette.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Услуги'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head()
			h1
				span.h2 услуги
				span.subpage покрытие
		+sWhatCovering
		+sContent.pb-0
			.container
				+e.text-wrap
					h2 чем ПОКРЫВАТЬ термодерево?
					p Все покрытия можно разделить на&nbsp;три вида: краски, лазури и&nbsp;масла.
				+e.text-wrap
					h2 лазури
					p это полупрозрачное покрытие, через которое видна текстура древесины и&nbsp;которое обладает меньшей укрывной способностью, чем краски. В&nbsp;зависимости от&nbsp;основы лазурь бывает на&nbsp;водной, масляной основе или на&nbsp;растворителях. Основной особенностью лазури является создание красивой глянцевой пленки.
				+e.text-wrap
					h2 масла
					p глубоко проникают в&nbsp;структуру древесины, создают дышащую, прочную, эластичную водо- и&nbsp;грязеотталкивающую поверхность. Основное преимущество масла для древесины в&nbsp;том, что это экологичное и&nbsp;открыто пористое покрытие, которое не&nbsp;создает пленки. Масло с&nbsp;пигментом проникает внутрь древесины и&nbsp;держится долгие годы. Неоспоримым преимуществом масел по&nbsp;сравнению с&nbsp;лакокрасочными составами является простота обновления и&nbsp;реставрации ранее обработанных поверхностей строений и&nbsp;конструкций.
					p Подводя итог, можно сказать, что не&nbsp;так важно, как называется покрытие, важно, чтобы оно было на&nbsp;масляной основе, и&nbsp;определиться&nbsp;&mdash; хотите&nbsp;ли вы&nbsp;сохранить текстуру дерева или полностью укрыть&nbsp;ее. Но&nbsp;даже если вы&nbsp;хотите оставить видимой текстуру, покрытие должно быть тонированным. Прозрачные составы с&nbsp;УФ защитой не&nbsp;спасут ваш дом от&nbsp;выгорания. Чем интенсивнее цвет, тем сильнее защита. Термодерево не&nbsp;гниет, поэтому никаких пропиток и&nbsp;дополнительной защиты от&nbsp;гниения ему не&nbsp;требуется.
		.full-width-img-wrap.container-max
			.img-wrap-center
				+img('img/covering-img-1.jpg', 'bg')
		+sContent.pb-0
			.container
				.photo-caption
					p.gray-70 На&nbsp;фото представлены образцы, покрытые разными маслами (разные производители, тонированные, прозрачные с&nbsp;УФ-защитой). Снизу&nbsp;&mdash; доска простояла 3&nbsp;года, посередине&nbsp;&mdash; 2&nbsp;года, сверху&nbsp;&mdash; доска сразу после покрытия. На&nbsp;данном стенде, выставленном на&nbsp;улице, можно отследить этапы выгорания различных масел и&nbsp;убедиться в&nbsp;необходимости покрывать качественными ТОНИРОВАННЫМИ составами. Четыре образца слева&nbsp;&mdash; доски покрытые на&nbsp;нашем производстве с&nbsp;использованием проверенных немецких масел.
					p К&nbsp;сожалению, недостаточно использовать качественные покрытия. Необходимо соблюдать технологию подготовки и&nbsp;нанесения составов, иначе цена пренебрежения окажется высокой. Доску требуется предварительно отшлифовать, чтобы открыть поры дерева и&nbsp;соблюсти температурные условия нанесения покрытия.
		+sRecommendation
		+sContent
			.container
				p Крайне важно защитить торцы доски! Это самое слабое место массива. Торцы больше всего впитывают влагу и&nbsp;лучше всего ее&nbsp;отдают, они постоянно находятся под нагрузкой воды. С&nbsp;течением времени такая нестабильность начинает разрушать торец, и&nbsp;он&nbsp;может треснуть. Именно поэтому торцы надо защищать маслом или воском. Наносить его нужно после покрытия лицевой поверхности. Это обусловлено тем, что воск закрывает поры дерева, и&nbsp;если это сделать до&nbsp;нанесения масла на&nbsp;лицо, то&nbsp;маслу будет некуда впитываться. Зачастую торцы защищают на&nbsp;этапе монтажа, т.к. доска монтируется с&nbsp;определённым шагом направляющих и&nbsp;подрезается по&nbsp;месту.
				p На&nbsp;нашем производстве мы&nbsp;также покрываем нижнюю пласть доски в&nbsp;1&nbsp;слой. Советуем делать это недорогими составами. Это несложное действие дополнительно защитит доску.
				p Весь процесс покраски в&nbsp;производственных условиях занимает 4-5&nbsp;дней. Добиться таких условий непосредственно на&nbsp;объекте перед монтажом, к&nbsp;сожалению, невозможно.
				p Важно помнить, что даже после полного высыхания любое масло проходит процесс кристаллизации. Это занимает до&nbsp;нескольких недель. Поверхность доски становится более матовой, тон выравнивается, проявляется текстура. На&nbsp;протяжении этого времени доску можно монтировать и&nbsp;эксплуатировать.
		+imagesInRow
		+sContent.pb-0
			.container
				h2 ОСОБЕННОСТИ ПОКРЫТИЯ ТЕРМОДЕРЕВА
				p Ясень после термообработки приобретает темно-шоколадный оттенок на&nbsp;всю толщину доски. Это очень красивый и&nbsp;благородный цвет, который многие хотят сохранить. К&nbsp;сожалению, даже после покрытия бесцветными составами, доска &laquo;поджигается&raquo;, становится темнее и&nbsp;отдает в&nbsp;красноту. Чтобы добиться более светлых оттенков, используют специальную технологию покрытия с&nbsp;высветляющими тонированными маслами, при этом цветовая палитра на&nbsp;термоясене всё равно ограничена в&nbsp;связи с&nbsp;изначальным темным оттенком сырья.
		+head-banner('head-5.jpg',``, 'термоясень')
		+sPalette(`цветовая палитра на термоясене`)
			- for (var x = 1; x < 16; x++)
				+item(`${x}`)
		+sContent.pb-0
			.container
				p Термопихта и Термохвоя – мягкие породы, и после термообработки приобретают светлый золотистый оттенок. Такую доску можно тонировать в любой цвет.
		+sPalette(`цветовая палитра на термопихте/термохвое`)
			- for (var x = 1; x < 11; x++)
				+item(`1-${x}`)
		+sContent.pb-0
			.container
				h2 уход
				p При незначительном загрязнении поверхность следует мыть чуть тёплой водой без добавления моющих средств. Сильные загрязнения можно удалять раствором марсельского мыла (не&nbsp;содержит щелочи).<br>Большинство натуральных масел не&nbsp;содержат фунгицидов&nbsp;&mdash; защиты от&nbsp;грибка. Поэтому крайне важно периодически проверять наружные поверхности на&nbsp;предмет поражения. Как правило, грибок можно распознать по&nbsp;маленьким черным точкам. Нужно помнить, что термодерево не&nbsp;подвержено гниению и&nbsp;поражению микроорганизмов, и&nbsp;грибок образуется только на&nbsp;поверхности. В&nbsp;случае повреждения нужно немедленно помыть доску водой или мылом.<br>В&nbsp;среднем тонированные масла сохраняют защиту дерева от&nbsp;УФ лучей в&nbsp;течение 5&nbsp;и&nbsp;более лет на&nbsp;фасаде здания. Если фасад находится на&nbsp;северной и&nbsp;западной сторонах, этот срок будет в&nbsp;1,5 раза больше. Террасы, к&nbsp;сожалению, нужно обновлять ежегодно.<br>Преимущества масла в&nbsp;том, что для обновления не&nbsp;требуется сошлифовки поверхности (только в&nbsp;случае локальных глубоких загрязнений). Достаточно будет помыть фасад или террасу раствором марсельского мыла, дать ему высохнуть и&nbsp;покрыть в&nbsp;один слой.<br>Частота восстановительных работ сильно зависит от&nbsp;интенсивности воздействия погодных факторов и&nbsp;от&nbsp;ухода за&nbsp;окрашенной поверхностью. Не&nbsp;существует строго установленных интервалов проведения реновационных работ. Обращаем Ваше внимание, что благодаря минимальной профилактике можно существенно продлить первоначальный вид изделия.
		+sForm
	+parts('footer')
      



