extends ../layout/main.pug

//- include ../blocks/sCategories/_sCategories.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sMounting/_sMounting.pug

//- include ../blocks/sPortfolio/_sPortfolio.pug
//- include ../blocks/sTableBlock/_sTableBlock.pug
//- include ../blocks/sProjects/_sProjects.pug
include ../blocks/sContent/_sContent.pug
//- include ../blocks/sCatalogPage/_sCatalogPage.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= '' 
	- let  bg= null

block title
	- let  title= 'Монтаж'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head()
			h1.h2= title
		//- +head-banner('head-5.jpg')
		+sMounting()
		
	+parts('footer')
      



