extends ../layout/main.pug

include ../blocks/sCategories/_sCategories.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTableBlock/_sTableBlock.pug
include ../blocks/sPalette/_sPalette.pug
include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Мебельные щиты'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head(title)
		+head-banner('head-19.jpg')
		//- +sTableBlock04
		//- +headerBlock 
		//- +sResult()
		.sTableBlock
			+sContent().pb-0
				.container(style="max-width:1030px")
					.row(style="--bs-gutter-x: 6px")
						.col-lg-6
							+b.panel-item.bg-wrap
								+img("img/panels-1.jpg",'bg').picture-bg 
								+e.title дуб
								+e.body
									.strong порода
									.text Дуб Кавказ
									.strong влажность древесины
									.text 8%±2%
									.strong допуск по толщине
									.text 0±3 мм
									.strong допуск по ширине
									.text 0+3 мм
									.strong допуск по длине
									.text 0+5 мм
									.strong ширина ламели
									.text 40-45 мм
									.strong шлифование
									.text Зернистость не менее P-120
									.strong склеивание
									.text На гладкую фугу, клей Kleiberit 303.2 категория нагрузки D3
						.col-lg-6
							+b.panel-item.bg-wrap
								+img("img/panels-2.jpg",'bg').picture-bg 
								+e.title ясень
								+e.body
									.strong порода
									.text Ясень Кавказ
									.strong влажность древесины
									.text 8%±2%
									.strong допуск по толщине
									.text 0±3 мм
									.strong допуск по ширине
									.text 0+3 мм
									.strong допуск по длине
									.text 0+5 мм
									.strong ширина ламели
									.text 40-45 мм
									.strong шлифование
									.text Зернистость не менее Р-120
									.strong склеивание
									.text На гладкую фугу, клей Kleiberit 303.2 категория нагрузки D3
			+sTableBlock19
			
	+parts('footer')
      



