extends ../layout/main.pug

include ../blocks/sCategories/_sCategories.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTableBlock/_sTableBlock.pug
include ../blocks/sPalette/_sPalette.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sMounting/_sMounting.pug
include ../blocks/sSlider/_sSlider.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Двух слойка'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+parts('header')
	main
		+page-head2('', 'Продукция', 'Двухслойная инженерная доска')
		+head-banner2('two-layers.png')
		+sTableConstruction
		+sMounting3
		+sTableBlock21('Цены')
		.two-layers
			+sTableBlock22('французская / английская ёлочка')
			.container
				+b.btn-wrap.text-end
					+e.btn.btn.btn-light(href="#") скачать прайс лист
					+e.btn.btn.btn-light(href="#") скачать тех. паспорт
		//- +sTableBlock24
		//- +sTableBlock25
		+sSlidersPalette()
		+sSlider
		+sContent().sContent--descr
			.container
				p Наша компания выпускает 2-х слойный паркет. Верхний слой представляет собой цельную ламель натурального массива дуба 4 или 6 мм толщиной. Нижний слой состоит из березовой фанеры марки ФСФ. Инженерный паркет обладает высокой прочностью и стойкостью, благодаря своей конструкции – сильная прессовка материала и чередование направлений волокон в слоях. Он не реагирует на перепады влажности и температуры внутри дома.В настоящее время такие инженерные доски признаны лучшими напольными материалами по эксплуатационным качествам. Паркет можно укладывать на систему «Теплые полы».
				p Одним из самых популярных в Европе напольных покрытий является инженерная доска. Она представляет собой двух- или трехслойную конструкцию высокой прочности, надежности и эстетичного внешнего вида. Верхний слой всегда состоит из натурального дерева твердых пород. Двухслойная конструкция имеет основание из фанеры, у которой чередуется направление волокон. Такое производство обеспечивает большую надежность, чем при использовании обычного массива.
				p Выбирая сорт Селект, т.е. отборный, Вы получаете бездефектную ровную по тону доску. На этом сорте не допускаются большие перепады по цвету, сучки, трещины — любые дефекты. Сорт Селект — это высший сорт.
				p В сорте Натур допускается небольшое количество сучков диаметром до 15 мм, перепады по тону. В общих чертах доска достаточно чистая, количество дефектов (сучки) строго ограничено.
				p Сорт Рустик обладает всеми признаками натурального дерева. Игра цвета и текстуры, благородные сучки. Наиболее эффектно доска пола в сорте Рустик смотрится в широкой доске.
				p Компания «Термо Вуд» является современной организацией в России, у которой налажено производство инженерной доски из дуба. Такое напольное покрытие более доступно по цене, чем паркет и превосходит массив по своим характеристикам. Укладывать его можно на систему теплый пол, на фанеру или стяжку. В каталоге представлено много различных моделей по размерам и сортности. Вы без труда подберете наиболее подходящий вариант в Москве. Каждое изделие имеет подробное описание с указанием технических характеристик и фото.
		+sContent('наши преимущества').sContent--advantages
			.container
				p Российская компания «Термо Вуд» заслуженно является лидером по региону Москва и имеет множество преимуществ в работе:
				ul
					li современные производственные мощности позволяют изготавливать ежемесячно до 20 000 м2 инженерной доски;
					li производится российская инженерная доска по лучшим технологиям из натуральной древесины (дуб);
					li компания работает на рынке более 7 лет;
					li большой склад расположен в г. Сходня (10 км от МКАД);
					li перед заказом Вы можете ознакомиться с образцами и наглядно убедиться в качестве продукции;
					li регулярно проводятся акции и предоставляются скидки;
					li у квалифицированных сотрудников фирмы вы сможете проконсультироваться по выбору типа и размера инженерной доски.
				p Вся наша продукция произведена в России на собственном оборудовании. Это гарантирует оптимальные цены и высокое качество изделий. Они полностью соответствуют экологическим стандартам безопасности, имеют презентабельный внешний вид, могут быть дополнительно обработаны после длительной эксплуатации (после шлифовки напольное покрытие будет выглядеть как новое). Сейчас вся Россия массово переходит на продукцию отечественного производства, и вы можете сделать свой вклад в развитие экономики страны. Обращайтесь в «Термо Вуд» и вам будут предложены качественные российские товары по выгодным ценам.
		+sForm.form-wr
	+parts('footer')




