extends ../layout/main.pug

include ../blocks/sCategories/_sCategories.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sTableBlock/_sTableBlock.pug
include ../blocks/sPalette/_sPalette.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sMounting/_sMounting.pug
include ../blocks/sSlider/_sSlider.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Массивная доска пола'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+parts('header')
	main
		+page-head2('', 'Продукция', 'Массивная доска пола')
		+head-banner2('massive-board.png')
		+sContent('массивная доска пола').sContent--advantages
			.container
				p При производстве массивной доски пола из Ясеня и Термоясень используют исключительно натуральное дерево. Это помогает сделать материал экологически чистым, что в нынешнее время достаточно редкое явление. Поверхность напольного покрытия из натурального ясеня очень приятная на ощупь и обладает красивым, словно нарисованным рисунком. Ясень чаще всего используют в спальнях и детских, так как это очень теплая порода. Благодаря своей твердости ясень не уступает дубу.
				+e.row-cards.row.mt-1
					.col-lg-6
						+b.wrap--lg
							+e.title.text-center ясень
							+e.img-wrap
								+img("img/table-floor-white-1.png")
							p Ясень – самая красивая порода дерева, предназначенная для отделки полов. Его часто используют в спальнях и детских комнатах. Оригинальность натурального массива подчеркивает богатый спектр оттенков ясеня, благодаря этому интерьер любого помещения будет особенным и неповторимым.
					.col-lg-6
						+b.wrap--lg
							+e.title.text-center термоясень
							+e.img-wrap
								+img("img/table-floor-dark-1.png")
							p Термоясень - 100% массив дерева проходит цикл термообработки (высокая температуру и пар) без добавления каких-либо химикатов. Выбирая термодерево для внутренней отделки, вы получаете экологически чистый натуральный материал, обладающий высокими эстетическими свойствами, благодаря своему благородному оттенку на всю толщину.
		+sTableBlock28('Цены')
		+sSlidersPalette3()
		+sSlider3.mb-5
		+sContent('наши преимущества').sContent--advantages.pt-5.mb-5
			.container
				p Российская компания «Термо Вуд» заслуженно является лидером по региону Москва и имеет множество преимуществ в работе:
				ul
					li современные производственные мощности позволяют изготавливать ежемесячно до 20 000 м2 инженерной доски;
					li производится российская инженерная доска по лучшим технологиям из натуральной древесины (дуб);
					li компания работает на рынке более 7 лет;
					li большой склад расположен в г. Сходня (10 км от МКАД);
					li перед заказом Вы можете ознакомиться с образцами и наглядно убедиться в качестве продукции;
					li регулярно проводятся акции и предоставляются скидки;
					li у квалифицированных сотрудников фирмы вы сможете проконсультироваться по выбору типа и размера инженерной доски.
				p Вся наша продукция произведена в России на собственном оборудовании. Это гарантирует оптимальные цены и высокое качество изделий. Они полностью соответствуют экологическим стандартам безопасности, имеют презентабельный внешний вид, могут быть дополнительно обработаны после длительной эксплуатации (после шлифовки напольное покрытие будет выглядеть как новое). Сейчас вся Россия массово переходит на продукцию отечественного производства, и вы можете сделать свой вклад в развитие экономики страны. Обращайтесь в «Термо Вуд» и вам будут предложены качественные российские товары по выгодным ценам.
		+sForm.form-wr
	+parts('footer')




