mixin sAdvanteges(data)
	// start sAdvanteges
	+b.SECTION.sAdvanteges.section#sAdvanteges&attributes(attributes)
		.container
			h2 наши преимущества
			+img("img/edv.jpg")
			+e.row.row
				mixin item(t,p)
					+e.col.col-xl-4.col-lg-6
						+e.item
							h6= t
							p!= p
				+item(`собственное производство`,`Собственное производство полного цикла&nbsp;&mdash; от&nbsp;распиловки до&nbsp;готовых погонажных изделий. Постоянный контроль качества на&nbsp;всех этапах изготовления`)

				+item(`наличие на складе`,`Экономия времени и гарантия поставки товара. Не нужно ждать изделия под заказ 2-3 месяца, как в большинстве случаев, и переживать о сроках, качестве и нестабильных обстоятельствах. Приобретайте Товар из наличия у нас с возможностью проверить качество на складе.`)

				+item(`гибкая ценовая политика`,`Предоставляем скидки от объема, программа лояльности для архитекторов и строителей`)

				+item(`безценный опыт`,`За 14 лет мы приняли участие в более чем 17 000 проектах с использованием Термодоски и точно знаем, как сделать идеально и как делать нельзя`)

				+item(`комплексный подход`,`У нас Вы можете заказать не только доску, но и лучшее на рынке защитное покрытие Kreidezeit (Германия), подсистему (лаги, крепеж, саморезы) и монтаж.`)

				+item(`контроль и ответственность`,`Мы будем сопровождать Вас и помогать на всех этапах во время монтажа. Бесплатный технадзор, сопровождение на весь период эксплуатации, помощь в обновлении.`)

				+item(`гарантированное соблюдение договоренностей`,`“Боже мой, вы единственные, кто поставил нам в срок!!!” - это вторая фраза, которую мы слышим от наших клиентов. (Первая- “Доска прекрасна и превзошла все наши ожидания!”). Мы действительно всегда четко выполняем условия договора и не обещаем то, что не можем сделать.`)
	// end sAdvanteges