mixin sResult(data)
	// start sResult
	+b.SECTION.sResult.section#sResult&attributes(attributes)
		.wrapper-lg
			.container
				+b.section-title
					h2 работая 
						b с&nbsp;нами,
						|  вы можете быть 
						b уверены в&nbsp;результате
				+e.row.row
					mixin item(n, h, t)
						.col-md-6.col-xl-5
							+e.item
								+e.item-num!= n
								h6!= h
								p!= t
					+item(`01`, `Собственное производство`, `Собственное производство&nbsp;&mdash; постоянный контроль качества`)
					+item(`03`, `Наличие на складе`, `Наличие на&nbsp;складе готовых изделий из&nbsp;термодревесины&nbsp;&mdash; экономия времени и&nbsp;нервов`)
				+e.row.row
					+item(`02`, `Полная комплектация заказа`, `У&nbsp;нас&nbsp;Вы можете приобрести не&nbsp;только изделия из&nbsp;Термодерева, но&nbsp;и&nbsp;защитное покрытие, систему крепления и&nbsp;монтаж.`)
					+item(`04`, `комплексный подход`, `Гарантия на&nbsp;товар лет. Бесплатный технадзор до&nbsp;и&nbsp;во&nbsp;время монтажа. Помощь в&nbsp;обновлении.`)

	// end sResult