mixin sRecommendation(data)
	// start sRecommendation
	+b.SECTION.sRecommendation.section#sRecommendation&attributes(attributes)
		.container
			+b.section-title
				h2 РЕКОМЕНДАЦИИ ПО НАНЕСЕНИЮ
			h2 УСЛОВИЯ ДЛЯ ПОКРЫТИЯ
			p Покрасочные работы крайне не&nbsp;рекомендуется проводить зимой. Между волокнами дерева может скапливаться влага, при минусовых значениях она превращается в&nbsp;лед, вследствие чего материал расширяется. Покрытие, нанесенное на&nbsp;такую поверхность, продержится до&nbsp;первой оттепели. Когда лед растает, он&nbsp;вытолкнет из&nbsp;волокон покрытие. Скопившаяся под маслом вода спровоцирует появление плесени на&nbsp;поверхности.
			p Высокий уровень влажности также оказывает большое влияние на&nbsp;качество покрытия&nbsp;&mdash; в&nbsp;дождливую погоду (при влажности более&nbsp;80%) красить доску не&nbsp;рекомендуется. Оптимальная температура проведения наружных окрасочных работ от + 10&deg;C до&nbsp;+25&deg;C.&nbsp;При таких значениях масло сохраняет эластичность и&nbsp;адгезионные свойства. При температуре выше +25&deg;C&nbsp;на затвердевание слоя масла потребуется в&nbsp;1,5 раза больше времени.
			p Место и&nbsp;условия окружающей среды влияют и&nbsp;на&nbsp;расход материала. В&nbsp;помещении, как правило, расходуется меньше масла, чем на&nbsp;открытом воздухе. Если вы&nbsp;собираетесь наносить покрытие в&nbsp;помещении, то&nbsp;необходимо прибавить 1-2% к&nbsp;расходу. Если работа производится на&nbsp;открытом воздухе при отсутствии ветра, прибавить&nbsp;10% к&nbsp;расходу. Работа на&nbsp;улице в&nbsp;ветреную и&nbsp;пасмурную погоду&nbsp;&mdash; плюс&nbsp;20%.
			+e.row.row
				.col-12
				
	// end sRecommendation