mixin sRecommendation(data)
	// start sRecommendation
	+b.SECTION.sRecommendation.section#sRecommendation&attributes(attributes)
		.container
			+b.section-title
				h2 РЕКОМЕНДАЦИИ ПО НАНЕСЕНИЮ
			h2 УСЛОВИЯ ДЛЯ ПОКРЫТИЯ
			p Покрасочные работы крайне не&nbsp;рекомендуется проводить зимой. Между волокнами дерева может скапливаться влага, при минусовых значениях она превращается в&nbsp;лед, вследствие чего материал расширяется. Покрытие, нанесенное на&nbsp;такую поверхность, продержится до&nbsp;первой оттепели. Когда лед растает, он&nbsp;вытолкнет из&nbsp;волокон покрытие. Скопившаяся под маслом вода спровоцирует появление плесени на&nbsp;поверхности.
			p Высокий уровень влажности также оказывает большое влияние на&nbsp;качество покрытия&nbsp;&mdash; в&nbsp;дождливую погоду (при влажности более&nbsp;80%) красить доску не&nbsp;рекомендуется. Оптимальная температура проведения наружных окрасочных работ от + 10&deg;C до&nbsp;+25&deg;C.&nbsp;При таких значениях масло сохраняет эластичность и&nbsp;адгезионные свойства. При температуре выше +25&deg;C&nbsp;на затвердевание слоя масла потребуется в&nbsp;1,5 раза больше времени.
			p Место и&nbsp;условия окружающей среды влияют и&nbsp;на&nbsp;расход материала. В&nbsp;помещении, как правило, расходуется меньше масла, чем на&nbsp;открытом воздухе. Если вы&nbsp;собираетесь наносить покрытие в&nbsp;помещении, то&nbsp;необходимо прибавить 1-2% к&nbsp;расходу. Если работа производится на&nbsp;открытом воздухе при отсутствии ветра, прибавить&nbsp;10% к&nbsp;расходу. Работа на&nbsp;улице в&nbsp;ветреную и&nbsp;пасмурную погоду&nbsp;&mdash; плюс&nbsp;20%.
			h2 ПОДГОТОВКА ПОВЕРХНОСТИ
			+e.row.row
				.col-lg-6
					p Подготовка доски к&nbsp;покрытию зачастую занимает больше времени, чем сама покраска и&nbsp;является, пожалуй, наиболее важным моментом в&nbsp;процессе отделки. Любое дерево, которое было прострогано с&nbsp;помощью станков или вручную, имеет спрессованные волокна древесины на&nbsp;поверхности, т.е. забиваются поры. Это препятствует пропитыванию древесины на&nbsp;достаточную для защиты глубину, дерево насыщается с&nbsp;меньшей концентрацией, чем необходимо для долговременной защиты от&nbsp;ультрафиолета. Шлифовка открывает поры на&nbsp;поверхности древесины и&nbsp;способствует максимальной глубине проникновения составов. Покрытия, нанесенные на&nbsp;нешлифованную древесину, имеют недостаточную адгезию, и&nbsp;через определённое время могут отслоиться.
					p Как правило, доска шлифуется в&nbsp;2&nbsp;прохода шлифлентой разной зернистости. При этом для первого прохода используется более грубая шкурка меньшей зернистости, а&nbsp;для второго прохода&nbsp;&mdash; шкурка зернистостью на&nbsp;1-3 порядка выше. Например, шкурка 80&nbsp;для первого прохода и&nbsp;100 или 120 для второго. Масла разных производителей имеют разную плотность (т.е. впитываются по-разному), поэтому следует ознакомиться с&nbsp;инструкцией к&nbsp;конкретному маслу перед шлифовкой, где указана рекомендованная зернистость для каждого прохода.
					p К&nbsp;сожалению, качественно отшлифовать доску на&nbsp;месте очень сложно&nbsp;&mdash; это ручная работа, требующая огромного опыта и&nbsp;внимания. Шлифовка производится с&nbsp;помощью специальной шлифмашинки на&nbsp;первой стадии с&nbsp;последующей доводкой эксцентриковой шлифовочной машинкой. Очень важно шлифовать по&nbsp;ходу направления волокон дерева, чтобы не&nbsp;оставить резки от&nbsp;инструмента. Также нужно помнить про существенный объем шлифовальной пыли в&nbsp;процессе обработки и&nbsp;использовать защитные маски.
					p Мы&nbsp;рекомендуем шлифовать доску в&nbsp;производственных условиях на&nbsp;специальных калибровально-шлифовальных станках, обеспечивающих равномерность обработки. Такая шлифовка позволяет максимально качественно подготовить поверхность для дальнейшего нанесения масла.
				.col-lg-6
					+e.img-wrap: +img('img/sRecommendation-img-1.jpg', 'bg')
					+e.img-wrap: +img('img/sRecommendation-img-2.jpg', 'bg')
			+e.title.h2.text-end нанесение масла
			+e.row.row
				.col-lg-6
					+e.img-wrap--2: +img('img/sRecommendation-img-3.jpg', 'bg')
				.col-lg-6
					p Перед нанесением масла поверхность доски необходимо очистить от&nbsp;пыли после шлифовки.
					p Большинство защитных масел и&nbsp;лазурей наносится в&nbsp;2&nbsp;слоя. Перед нанесением состава советуем ознакомиться с&nbsp;инструкцией производителя масел, т.к. разные масла имеют разные способы нанесения и&nbsp;время высыхания.
					p Как правило масло/лазурь наносят специальной кистью с&nbsp;натуральным ворсом по&nbsp;направлению волокон дерева. Следует избегать образования лужиц и&nbsp;потёков. Далее доску оставляем сушиться в&nbsp;хорошо проветриваемом месте с&nbsp;соблюдением температурно-влажностного режима. Время высыхания первого слоя зависит от&nbsp;конкретного масла и&nbsp;указано в&nbsp;инструкции по&nbsp;нанесению, обычно это занимает не&nbsp;менее 24&nbsp;часов.
					p После полного высыхания первого слоя необходимо сделать легкую промежуточную шлифовку. Мы&nbsp;рекомендуем использовать для этого губку Scotch-Brite красного цвета зернистостью 320-400. Межслойная шлифовка требуется для устранения поднявшегося ворса после первого слоя, и&nbsp;производится вручную. После шлифовки поверхность доски необходимо очистить от&nbsp;пыли.
					p Второй финишный слой наносится аналогично тому, как наносился первый слой. После нанесения последнего слоя доску необходимо оставить сушиться на&nbsp;время, обозначенное в&nbsp;инструкции, но&nbsp;не&nbsp;менее 24&nbsp;часов. Важно, чтобы поверхность после завершения работы была сухой, шелковистой и&nbsp;не&nbsp;липла.
	// end sRecommendation