mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.row.row
				.col-auto
					+e.logo(href='/'): +img('img/logo.png')
				.col-auto.d-none.d-lg-block
					p Производитель фасадных и террасных изделий из термодерева

				.col-auto.ms-auto.d-none.d-lg-block
					.row
						.col-auto
							a(href="#") Заказать звонок 
						.col-auto
							a(href="mailto:termo-wood@mail.ru") termo-wood@mail.ru
							a(href="tel:+74952013706") + 7 (495) 201-37-06
				.col-auto.ms-auto.d-lg-none
					+menu-toggle()
	// end topLine