.soc {
	@include roww(3px, 3px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		background-color: $gray-700;
		width: rem(42);
		height: rem(42);
		&:hover {
			background-color: #7bca29;
		}
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		font-size: rem(32);
	}
	img {
		max-width: 100%;
		height: auto;
		width: 1em;
	}
	.icon {
		font-size: inherit;
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}
.page-head--lg {
  
  span, .breadcrumb .active a {
    font-size: rem(20);
    color: $black;
  }
  .breadcrumb-item+.breadcrumb-item:before {
    margin-top: rem(4);
    content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='black' /%3E%3C/svg%3E");
  }
}
.addBlock {
	// background: #F8F8F8;
	@include roww(7px, 0, m);
	width: auto;
	color: var(--color, #{$white});
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		font-weight: 300;
		font-size: rem(16);
		line-height: calc(20 / 16);
		letter-spacing: -0.035em;
		background-color: #a7a7a7;
		color: inherit;
		text-align: center;
		border: none;
		height: rem(40);
		// flex: 0 0 1%;
		width: rem(100);
		outline: none !important;
	}
	&__input-wrap {
		flex-grow: 1;
	}
	&__btn {
		color: inherit;
		height: rem(40);
		width: rem(40);
		background-color: #a7a7a7;
		flex-shrink: 0;
		position: relative;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		// background: transparent;
		border-radius: 0;
		@include mt;
		// padding-left: rem(8);
		// padding-right: rem(8);
		&:hover {
			background-color: $primary;
			color: #fff;
		}
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 1px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}

.full-width-img-wrap {
	@include block(683, 1509);
	margin-top: rem(60);
	margin-bottom: rem(22);
	@include media-breakpoint-up(lg) {
		margin-top: rem(120);
		margin-bottom: rem(44);
	}
}
.gray-70 {
	color: rgba($color: #000000, $alpha: .7);
}
.photo-caption {
	margin-bottom: rem(40);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(81);
	}
	p {
		margin-bottom: rem(22);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(44);
		}
	}
}

.images-in-row {
	&__img-wrap {
		@include block(738, 787);
	}
	.row {
		--bs-gutter-x: #{rem(31)};
	}
}

.upload-field {
	margin-top: rem(16);
	margin-bottom: rem(40);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(80);
	}
	&__wrap {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	&__input-wrap {
		span {
			cursor: pointer;
		}
	}
	&__file-name  {
		margin-left: rem(16);
	}
}
.input-upload {
	display: none;
}