mixin sProperties(data)
	// start sProperties
	+b.SECTION.sProperties.section#sProperties&attributes(attributes)
		.container
			+b.section-title
				h2 #[strong приобретаемые свойства] древесины после термообработки
		+e.img-wrap 
			mixin item(t,p)
				+e.item(data-bs-toggle="popover"  data-bs-title= t 
				data-bs-content= p data-bs-custom-class="custom-popover")

			+item(`100 % экологичность`,`Термодерево является экологически чистым и нейтральным по отношению к организму человека материалом, так как во время термообработки древесина подвергается лишь воздействию высокой температуры и перегретого водяного пара. На выходе мы имеем 100% экологически чистый продукт из массива дерева.`)

			+item(`эстетичность`,`За счет теплых сдержанных оттенков термо- дерево придаст экстерьеру спокойный благородный вид, характерный для элитных пород древесины. В меру подчеркнутая текстура, плавные цветовые переходы, естественный натуральный материал – всё это подчеркнет современный стиль Вашего дома.`)

			+item(`биостойкость`,`Снижается возможность образования моно и полисахаридов из гемицеллюлозы и целлюлозы, служащих питательной средой для грибов. Причины повышения устойчивости к гнили в основном связаны с двумя факторами. Во-первых, молекулы фурфурола, полученные в результате термической обработки, не распознаются грибками. Вторая причина - термообработанная древесина имеет точку насыщения волокон ниже, чем необработанная древесина из-за уменьшения равновесной влажности, что само по себе приводит к лучшему биологическому сопротивлению.`)

			+item(`стабильность размеров`,`Повышение стабильности размеров термообработанной древесины в основном связано со снижением гигроскопичности древесины. При термообработке образуются полимеры из сахаров, которые менее гигроскопичны, чем клетки гемицеллюлозы. Потеря метильных радикалов лигнина приводит к увеличению фенольных групп и к более высокой реакционной способности лигнина в образовании поперечных связей, ответственных за повышение размерной стабильности. Молекулы становятся менее эластичными, и микрофибры целлюлозы имеют меньше возможностей расширяться и поглощать воду, что объясняет уменьшение равновесной влажности и улучшение размерной стабильности.`)

			+item(`долговечность`,`Благодаря приобретенным после термообработки свойствам (отсутствие гниения, геометрическая стабильность, твердость), сроки эксплуатации термодерева практически не ограничены. А своевременная профилактика и минимальный уход сохранят первоначальный внешний вид доски на долгие годы.`)
			+pic('properties-bg.jpg','bg')

	// end sProperties