mixin sProperties(data)
	// start sProperties
	+b.SECTION.sProperties.section#sProperties&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sProperties
				
			+e.row.row
	// end sProperties