mixin sTableBlockBase(data)
	// start sTableBlock
	+b.SECTION.sTableBlock.section#sTableBlock&attributes(attributes)
		.container
			.table-wtrap
				table
					if block
						block
					else
						thead
							tr.tr-gray
								th(colspan="4").text-center  реечный фасад
							tr 
								th порода древесины
								th толщина (мм)
								th ширина (мм)
								th цена (руб./м.п)
						tbody
							tr.tr-gray
								th().text-center термоясень
								th(colspan="3")
							tr
								td
									+e.img-wrap
										+img("img/table-1-1.png")
									p Сорт Экстра
									p Длина доски 900-4000 мм
									p Доска короче 2 м - не более 50% от партии
								td: strong  20
								td: strong 50
								td
								
							tr.tr-gray
								th().text-center термопихта
								th(colspan="3")
							tr
								td(rowspan="2")
									+e.img-wrap
										+img("img/table-1-2.png")
									p Сорт Экстра
									p Длина доски 900-4000 мм
									p Доска короче 2 м - не более 50% от партии
								td(rowspan="2"): strong  20
								td: strong 50
								td: strong 390
							tr
								td: strong 60
								td: strong 580
							tr.tr-gray
								th().text-center термохвоя
								th(colspan="3")
							tr
								td
									+e.img-wrap
										+img("img/table-1-3.png")
									p Сорт В (с сучками)
									p Длина доски 3000 мм
								td: strong 40
								td: strong 40
								td: strong 250
			p.text-end  *Цены указаны без покртия
			.row
				.col
				.col-auto
					+e.btn.btn.btn-light(href="#") скачать техпаспорт
				.col-auto
					+e.btn.btn.btn-light(href="#") скачать прайс лист

	// end sTableBlock

mixin sTableBlock(data)
	+sTableBlockBase()

mixin sTableBlock04(data)
	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="4").text-center  фасадная доска(прямой/скошенный планкен)
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена (руб./м.п)
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="3")
			tr
				td(rowspan="4")
					+e.img-wrap
						+img("img/table-2-1.png")
					p Сорт Экстра
					p Длина доски 900-3000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="4"): strong  20
				td: strong 95
				td: strong 5 800
				
			tr
				td: strong 115
				td: strong 6 000
			tr
				td: strong 135/160
				td: strong 6 200
			tr
				td: strong 180/200
				td: strong 7 000

				
			tr.tr-gray
				th().text-center термопихта
				th(colspan="3")
			tr
				td(rowspan="2")
					+e.img-wrap
						+img("img/table-2-2.jpg")
					p Сорт Экстра
					p Длина доски 900-4000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="2"): strong  20
				td: strong 80/85
				td: strong 3 350
			tr
				td: strong 120
				td: strong 4 100
			tr.tr-gray
				th().text-center термохвоя
				th(colspan="3")
			tr
				td
					+e.img-wrap
						+img("img/table-2-3.jpg")
					p Сорт В (с сучками)
					p Длина доски 1250-4000 мм
				td: strong 40
				td: strong 40
				td: strong 250
mixin sTableBlock05(data)
	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="4").text-center  разноширинный фасад
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена (руб./м.п)
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="3")
			tr
				td(rowspan="4")
					+e.img-wrap
						+img("img/table-2-1.png")
					p Сорт Экстра
					p Длина доски 900-3000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="4"): strong  20
				td: strong 95
				td: strong 5 800
				
			tr
				td: strong 115
				td: strong 6 000
			tr
				td: strong 135/160
				td: strong 6 200
			tr
				td: strong 180/200
				td: strong 7 000

				
			tr.tr-gray
				th().text-center термопихта
				th(colspan="3")
			tr
				td(rowspan="2")
					+e.img-wrap
						+img("img/table-2-2.jpg")
					p Сорт Экстра
					p Длина доски 900-4000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="2"): strong  20
				td: strong 80/85
				td: strong 3 350
			tr
				td: strong 120
				td: strong 4 100
			tr.tr-gray
				th().text-center термохвоя
				th(colspan="3")
			tr
				td
					+e.img-wrap
						+img("img/table-2-3.jpg")
					p Сорт В (с сучками)
					p Длина доски 1250-4000 мм
				td: strong 40
				td: strong 40
				td: strong 250