// start .sTableBlock
.sTableBlock {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	table{
		width: 100%;
		text-align: center;
		min-width: 760px;
		p{
			margin-bottom: 0.1rem;
			font-size: 1rem;
		}
	}
	@include media-breakpoint-up(lg) {

		--first: calc(325px + 8vw);
	}
	
	@include media-breakpoint-up(md) {

	}
	
	// --first: calc(105px + 8vw);
	--first: calc(145px + 8vw);
	th{

		&:not(:first-child){
	
			width: calc( (100% - var(--first))/ 5);
		}
		&:nth-child(4),
		&:nth-child(5){
			width: 160px;

		}
	}
	td{
		strong{

			font-size: 20px;
			font-weight: 500;
		}
	}
	th:nth-child(1){
		width: var(--first);
	}
	td,
	th{
		padding: 6px;
		font-weight: normal;
	}
	td{
		padding: 18px 6px;
		img{
			margin-bottom: rem(25);
			@extend .res-i;
		}

	}
	td,
	th{
		border: 1px solid #A7A7A7;
	}
	th{
		text-transform: uppercase;
	}

	td{
		.row{
			justify-content: center;
		}
		.col-4{
			// margin-left: auto;
			// margin-right: auto;
			max-width: 240px;
		}
	}
	small{
		font-size: 12px;
	}
	.smallest{
		font-size: 10px;
		margin-left: auto;
		margin-right: auto;
		max-width: 140px;
	}

	&__img-wrap{
		display: inline-block;
		border-radius: 3px;
		overflow: hidden;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
		box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.25); 
		img{
			margin: 0 !important;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTableBlock

.table-wtrap{
	@include media-breakpoint-down(xl) {

		overflow-x: auto;
	}
	margin-bottom: 18px;
}
.tr-gray{
	td,
	th{
		background: #A7A7A7;
		color: #fff;
		font-weight: normal;
	}
}
thead{
	font-weight: normal;
	th{
		padding-top: 15px;
		padding-bottom: 15px;
	}
.tr-gray{
		font-size: 25px;
		text-transform: uppercase;
}	
}