mixin sTableBlockBase(cont)
	// start sTableBlock
	+b.SECTION.sTableBlock.section#sTableBlock&attributes(attributes)
		.container
			if cont
				h2.mb-3 цены
			.table-wtrap
				table
					if block
						block
					else
						thead
							tr.tr-gray
								th(colspan="4").text-center  реечный фасад
							tr 
								th порода древесины
								th толщина (мм)
								th ширина (мм)
								th цена (руб./м.п)
						tbody
							tr.tr-gray
								th().text-center термоясень
								th(colspan="3")
							tr
								td
									+e.img-wrap
										+img("img/table-1-1.png")
									p Сорт Экстра
									p Длина доски 900-4000 мм
									p Доска короче 2 м - не более 50% от партии
								td: strong  20
								td: strong 50
								td
								
							tr.tr-gray
								th().text-center термопихта
								th(colspan="3")
							tr
								td(rowspan="2")
									+e.img-wrap
										+img("img/table-1-2.png")
									p Сорт Экстра
									p Длина доски 900-4000 мм
									p Доска короче 2 м - не более 50% от партии
								td(rowspan="2"): strong  20
								td: strong 50
								td: strong 390
							tr
								td: strong 60
								td: strong 580
							tr.tr-gray
								th().text-center термохвоя
								th(colspan="3")
							tr
								td
									+e.img-wrap
										+img("img/table-1-3.png")
									p Сорт В (с сучками)
									p Длина доски 3000 мм
								td: strong 40
								td: strong 40
								td: strong 250
			p.text-end  *Цены указаны без покртия
			.row
				.col
				.col-auto
					+e.btn.btn.btn-light(href="#") скачать техпаспорт
				.col-auto
					+e.btn.btn.btn-light(href="#") скачать прайс лист
			if cont
				h2 контакты
				p 
					a(href="tel:+79266217609").tdu.text-body +7 926 621 76 09
					| 
					| Татьяна
					br
					a(href="tel:+79256258080").tdu.text-body +7 925 625 80 80
					| 
					| Лариса
	// end sTableBlock
mixin sTableBlockBase2(cont)
	// start sTableBlock
	+b.SECTION.sTableBlock.section#sTableBlock&attributes(attributes)
		.container
			if cont
				h2.mb-3 цены
			block
			p.text-end  *Цены указаны без покртия
			.row
				.col
				.col-auto
					+e.btn.btn.btn-light(href="#") скачать техпаспорт
				.col-auto
					+e.btn.btn.btn-light(href="#") скачать прайс лист
			if cont
				h2 контакты
				p 
					a(href="tel:+79266217609").tdu.text-body +7 926 621 76 09
					| 
					| Татьяна
					br
					a(href="tel:+79256258080").tdu.text-body +7 925 625 80 80
					| 
					| Лариса
	// end sTableBlock

mixin sTableBlock(data)
	+sTableBlockBase()

mixin sTableBlock04(data)
	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="4").text-center  фасадная доска(прямой/скошенный планкен)
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена (руб./м.п)
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="3")
			tr
				td(rowspan="4")
					+e.img-wrap
						+img("img/table-2-1.png")
					p Сорт Экстра
					p Длина доски 900-3000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="4"): strong  20
				td: strong 95
				td: strong 5 800
				
			tr
				td: strong 115
				td: strong 6 000
			tr
				td: strong 135/160
				td: strong 6 200
			tr
				td: strong 180/200
				td: strong 7 000

				
			tr.tr-gray
				th().text-center термопихта
				th(colspan="3")
			tr
				td(rowspan="2")
					+e.img-wrap
						+img("img/table-2-2.jpg")
					p Сорт Экстра
					p Длина доски 900-4000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="2"): strong  20
				td: strong 80/85
				td: strong 3 350
			tr
				td: strong 120
				td: strong 4 100
			tr.tr-gray
				th().text-center термохвоя
				th(colspan="3")
			tr
				td
					+e.img-wrap
						+img("img/table-2-3.jpg")
					p Сорт В (с сучками)
					p Длина доски 1250-4000 мм
				td: strong 40
				td: strong 40
				td: strong 250
mixin sTableBlock05(data)
	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="4").text-center  разноширинный фасад
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена (руб./м.п)
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="3")
			tr
				td(rowspan="4")
					+e.img-wrap
						+img("img/table-2-1.png")
					p Сорт Экстра
					p Длина доски 900-3000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="4"): strong  20
				td: strong 95
				td: strong 5 800
				
			tr
				td: strong 115
				td: strong 6 000
			tr
				td: strong 135/160
				td: strong 6 200
			tr
				td: strong 180/200
				td: strong 7 000

				
			tr.tr-gray
				th().text-center термопихта
				th(colspan="3")
			tr
				td(rowspan="2")
					+e.img-wrap
						+img("img/table-2-2.jpg")
					p Сорт Экстра
					p Длина доски 900-4000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="2"): strong  20
				td: strong 80/85
				td: strong 3 350
			tr
				td: strong 120
				td: strong 4 100
			tr.tr-gray
				th().text-center термохвоя
				th(colspan="3")
			tr
				td
					+e.img-wrap
						+img("img/table-2-3.jpg")
					p Сорт В (с сучками)
					p Длина доски 1250-4000 мм
				td: strong 40
				td: strong 40
				td: strong 250


				
mixin sTableBlock07(data)
	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="4").text-center  разноширинный фасад
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена (руб./м.п)
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="3")
			tr
				td(rowspan="4")
					+e.img-wrap
						+img("img/table-2-1.png")
					p Сорт Экстра
					p Длина доски 900-3000 мм
					p Доска короче 2 м - не более 50% от партии
				td(rowspan="4"): strong  20
				td: strong 95
				td: strong 5 800
				
			tr
				td: strong 115
				td: strong 6 000
			tr
				td: strong 135/160
				td: strong 6 200
			tr
				td: strong 180/200
				td: strong 7 000


				
mixin sTableBlock17(data)
	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="5").text-center классическая фасадная доска
			tr.text-center 
				td(colspan="5")
					.row
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-1-1.png').mb-1
							.small Прямой планкен
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-1-2.png').mb-1
							.small Скошенный планкен
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-1-3.png').mb-1
							.small Профиль по&nbsp;образцу  или чертежу Заказчика
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена 
					small (руб./м<sup>2</sup>)
					.smallest  изделие  без&nbsp;покрытия
				th цена 
					small (руб./м<sup>2</sup>)
					.smallest  изделие + защитное покрытие Kreidezeit
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="4")
			tr
				td(rowspan="4")
					+e.img-wrap
						+img("img/table-1-poroda-1.jpg")
					p Сорт Экстра
					p Длина изделий 900-3000 мм, 
					p Шаг по длине 100 мм,
					p Доска длиннее 2 м - не менее 50% от партии
				td(rowspan="4"): strong  20
				td: strong 95
				td: strong 5 500
				td: strong 7 000
				
			tr
				td: strong 115
				td: strong 5 800
				td: strong 7 300
			tr
				td: strong 135/160
				td: strong 6 200
				td: strong 7 700
			tr
				td: strong 180/200
				td: strong 6 800
				td: strong 8 300

			tr.tr-gray
				th().text-center термопихта
				th(colspan="4")
			tr
				td(rowspan="2")
					+e.img-wrap
						+img("img/table-1-poroda-2.jpg")
					p Сорт Экстра
					p Длина изделий 900-4000 мм, 
					p Шаг по длине 100 мм,
					p Доска длиннее 2 м - не менее 50% от партии
				td(rowspan="2"): strong  16
				td: strong 80/85

				td: strong 3 300
				td: strong 4 800
				
			tr
				td: strong 120
				td: strong 3 700
				td: strong 5 200

			tr.tr-gray
				th().text-center термохвоя
				th(colspan="4")
			tr
				td(rowspan="1")
					+e.img-wrap
						+img("img/table-1-poroda-3.jpg")
					p Сорт АВ (с сучками)
					p Длина изделий 1250-4000 мм,
					p Шаг по длине 100 мм,
					p Доска длиннее  1,75м - не менее 40% от партии
				td(rowspan="4"): strong  19,5
				td: strong 130

				td: strong 2 250
				td: strong 3 750
	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="5").text-center реечный фасад
			tr.text-center 
				td(colspan="5")
					.row
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-2-1.png').mb-1 
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-2-2.png').mb-1 
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-2-3.png').mb-1 
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена 
					small (руб./м.п)
					.smallest  изделие  без&nbsp;покрытия
				th цена 
					small (руб./м.п)
					.smallest  изделие + защитное покрытие Kreidezeit
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="4")
			tr
				td(rowspan="8")
					+e.img-wrap
						+img("img/table-2-poroda-1.jpg")
					p Сорт Экстра
					p Длина брусков 900-3000 мм, 
					p Шаг по длине 100 мм,
					p Доска длиннее 2 м - не менее 50% от партии
				td(rowspan="5"): strong  20
				td: strong 40
				td: strong 240
				td: strong 360
				
			tr
				td: strong 50
				td: strong 300
				td: strong 435
			tr
				td: strong 60
				td: strong 360
				td: strong 510
			tr
				td: strong 70
				td: strong 420
				td: strong 585
			tr
				td: strong 80
				td: strong 480
				td: strong 660

			tr
				td(rowspan="3"): strong  20
				td: strong 40
				td: strong 510
				td: strong 690
			tr
				td: strong 60
				td: strong 760
				td: strong 970
			tr
				td: strong 80
				td: strong 1020
				td: strong 1260

				
			tr.tr-gray
				th().text-center термопихта
				th(colspan="4")
			tr
				td(rowspan="5")
					+e.img-wrap
						+img("img/table-2-poroda-2.jpg")
					p Сорт Экстра
					p Длина брусков 900-4000 мм, 
					p Шаг по длине 100 мм,
					p Доска длиннее 2 м - не менее 50% от партии
				td(rowspan="2"): strong  16
				td: strong 55
				td: strong 230
				td: strong 360
				
			tr
				td: strong 80
				td: strong 265
				td: strong 435
			tr
				td(rowspan="3"): strong  40
				td: strong 40
				td: strong 310
				td: strong 490
			tr
				td: strong 60
				td: strong 460
				td: strong 670
			tr
				td: strong 120
				td: strong 920
				td: strong 1220

				
			tr.tr-gray
				th().text-center термососна
				th(colspan="4")
			tr
				td(rowspan="3")
					+e.img-wrap
						+img("img/table-2-poroda-3.jpg")
					p Сорт АВ (с сучками)
					p Длина брусков 1250-4000 мм,
					p Шаг по длине 100 мм,
					p Доска длиннее 1,75м - не менее 40% от партии
				td(rowspan="3"): strong  40
				td: strong 40
				td: strong 190
				td: strong 370
				
			tr
				td: strong 90
				td: strong 390
				td: strong 645
			tr
				td: strong 140
				td: strong 740
				td: strong 1070

	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="5").text-center разноширинный фасад
			tr.text-center 
				td(colspan="5")
					.row
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-3-1.png').mb-1
							.small Прямой планкен
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-3-2.png').mb-1
							.small Скошенный планкен
						.col-4
							+img('local/templates/main/layouts/public/img/table-var-3-3.png').mb-1
							.small Профиль по&nbsp;образцу  или чертежу Заказчика
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена 
					small (руб./м<sup>2</sup>)
					.smallest  изделие  без&nbsp;покрытия
				th цена 
					small (руб./м<sup>2</sup>)
					.smallest  изделие + защитное покрытие Kreidezeit
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="4")
			tr
				td(rowspan="1")
					+e.img-wrap
						+img("img/table-3-poroda-1.jpg")
					p Сорт Экстра
					p Длина изделий 800-3000 мм, 
					p Шаг по длине 100 мм,
					p Доска длиннее 2 м - не менее 50% от партии
				td(rowspan="1"): strong  20
				td
					p 50 ММ -  <strong>35%</strong> ОТ ПАРТИИ
					p 115 ММ -  <strong>35%</strong> ОТ ПАРТИИ
					p 160 ММ -  <strong>30%</strong> ОТ ПАРТИИ
				td: strong 6 000
				td: strong 7 600
			tr.tr-gray
				th().text-center термопихта
				th(colspan="4")
			tr
				td(rowspan="1")
					+e.img-wrap
						+img("img/table-3-poroda-2.jpg")
					p Сорт Экстра
					p Длина изделий 800-3000 мм, 
					p Шаг по длине 100 мм,
					p Доска длиннее 2 м - не менее 50% от партии
				td(rowspan="1"): strong  16
				td
					p 55 ММ -  <strong>35%</strong> ОТ ПАРТИИ
					p 80 ММ -  <strong>35%</strong> ОТ ПАРТИИ
					p 120 ММ -  <strong>30%</strong> ОТ ПАРТИИ
				td: strong 3 750
				td: strong 5 350
				
			tr.tr-gray
				th().text-center термохвоя
				th(colspan="4")
			tr
				td(rowspan="1")
					+e.img-wrap
						+img("img/table-3-poroda-3.jpg")
					p Сорт АВ (с сучками)
					p Длина изделий 2000-3000 мм,
					p Шаг по длине 100 мм,
					p Доска длиннее 2 м - не менее 50% от партии
				td(rowspan="1"): strong  18
				td
					p 40 ММ -  <strong>35%</strong> ОТ ПАРТИИ
					p 90 ММ -  <strong>35%</strong> ОТ ПАРТИИ
					p 140 ММ -  <strong>30%</strong> ОТ ПАРТИИ
				td: strong 2 500
				td: strong 4 100

	+sTableBlockBase()
		thead
			tr.tr-gray
				th(colspan="5").text-center террасная доска
			tr.text-center 
				td(colspan="5")
					.row
						.col-3
							+img('local/templates/main/layouts/public/img/table-var-4-1.png').mb-1
							.small Декинг
						.col-3
							+img('local/templates/main/layouts/public/img/table-var-4-2.png').mb-1
							.small Вельвет
							
						.col-3
							+img('local/templates/main/layouts/public/img/table-var-4-3.png').mb-1
							.small Антислип

						.col-3
							+img('local/templates/main/layouts/public/img/table-var-4-4.png').mb-1
							.small Профиль по&nbsp;образцу  или чертежу Заказчика
			tr 
				th порода древесины
				th толщина (мм)
				th ширина (мм)
				th цена 
					small (руб./м<sup>2</sup>)
					.smallest  изделие  без&nbsp;покрытия
				th цена 
					small (руб./м<sup>2</sup>)
					.smallest  изделие + защитное покрытие Kreidezeit
		tbody
			tr.tr-gray
				th().text-center термоясень
				th(colspan="4")
			tr
				td(rowspan="7")
					+e.img-wrap
						+img("img/table-4-poroda-1.jpg")
					p Сорт Экстра
					p Длина изделий 900-3000 мм,
					p Шаг по длине 100 мм,
					p Доска длиннее  2 м - не менее 50%  от партии
				td(rowspan="4"): strong  20
				td: strong 95
				td: strong 5 500
				td: strong 7 000
			tr
				td: strong 115
				td: strong 5 800
				td: strong 7 300

			tr
				td: strong 135/160
				td: strong 6 200
				td: strong 7 700
			tr
				td: strong 180/200
				td: strong 6 800
				td: strong 8 300
			tr
				td(rowspan="3"): strong  40
				td: strong 100
				td: strong 11 500
				td: strong 13 000

			tr
				td: strong 120
				td: strong 12 000
				td: strong 13 500
			
			tr
				td: strong 140
				td: strong 13 000
				td: strong 14 500

mixin sTableBlock18(cont)
	+sTableBlockBase('cont')
		thead
			tr.tr-gray.border-bottom.border-white(style='--bs-border-width:6px')
				th(colspan="7") обрезная доска 
		tbody
			tr.tr-gray
				td регион
				td порода
				td сорт
				td толщина
				td ширина
				td длина
				td цена за м³
			tr
				td(rowspan="5") кавказ
				td(rowspan="5") дуб
				td(rowspan="5") 0-1
				td(rowspan="5") 50
				td 80-200
				td 500-900
				td  75 000
				
			tr
				td(rowspan="4") 90-250
				td 1000-1400
				td   108 000
			tr
				
				td 1500-1900
				td 110 000
			tr
				
				td 2000-2400
				td 131 000
			tr
				
				td 2500-3100
				td 135 000
			tr
				td(colspan="7").p-1.border-start-0.border-end-0
			//- --------------------
			tr
				td(rowspan="4") кавказ
				td(rowspan="4") дуб
				td(rowspan="4") 0-1
				td(rowspan="4") 30
				td  70-200
				td 500-900
				td 65 000
				
			tr
				td 80-200
				td 1000-1900
				td 88 000
			tr
				td(rowspan="2") 90-200
				td  2000-3400
				td  108 000
			tr
				
				td  3500-4200
				td  115 000
			tr
				td(colspan="7").p-1.border-start-0.border-end-0
			//- --------------------
			tr
				td(rowspan="3") средняя полоса
				td(rowspan="3") ясень
				td(rowspan="3") 0-1
				td(rowspan="3") 50
				td(rowspan="3") 90-250
				td 500-900
				td 55 000
				
			tr 
				td 1000-1900
				td 80 000
			tr 
				td 2000-3000
				td 98 000
			tr
				td(colspan="7").p-1.border-start-0.border-end-0
			//- --------------------
			tr
				td(rowspan="3") средняя полоса
				td(rowspan="3") ясень
				td(rowspan="3") 0-1
				td(rowspan="3") 30
				td  90-200
				td 500-900
				td 54 000
				
			tr 
				td(rowspan="2") 90-140
				td 1000-1900
				td 65 000
			tr 
				td 2000-3000
				td 86 000
			tr
				td(colspan="7").p-1.border-start-0.border-end-0
			//- --------------------
			tr
				td(rowspan="3") кавказ
				td(rowspan="3") бук
				td(rowspan="3") 0-1
				td(rowspan="3") 30
				td(rowspan="3") 90-200
				td 500-900
				td 39 000 
				
			tr  
				td 1000-1900
				td 48 000                    
				
			tr  
				td 2000-3000
				td 55 000

			tr
				td(colspan="7").p-1.border-start-0.border-end-0
			//- --------------------
			tr
				td(rowspan="3") средняя полоса
				td(rowspan="3") термоясень
				td(rowspan="3") 0-1
				td 50
				td 80-220
				td 2500-3000
				td 125 000
				
			tr  
				td 30
				td 80-120
				td 2000-3000
				td 114 000

			tr
				td(colspan="7").p-1.border-start-0.border-end-0
			//- --------------------
			tr
				td(rowspan="3") кавказ
				td(rowspan="3") термопихта
				td(rowspan="3") 0-1
				td 22
				td 90
				td 1000-4000
				td 90 000
				
			tr  
				td 45
				td 145
				td 1000-4000
				td 90 000
			//- --------------------
mixin sTableBlock19(cont)
	+sTableBlockBase2('cont')
		.table-wtrap
			table
				thead
					tr.tr-gray.border-bottom.border-white(style='--bs-border-width:6px')
						th(colspan="4") мебельные щиты из дуба
				tbody
					tr.tr-gray
						td толщина
						td ширина
						td длина
						td цена за м³
					tr
						th(colspan="4").border-start-0.border-end-0  цельноламельные мебельные щиты из дуба сорт экстра
					tr
						td(rowspan="6") 40
						td 300-800
						td 900
						td 190 000
						
					tr
						
						td 400-1000
						td 1000-1500
						td 250 000
					tr
						
						td 400-1000
						td 1600-2100
						td 270 000
					tr
						
						td 400-1000
						td 2200-2900
						td 310 000
					tr
						
						td 400-1000
						td 3000
						td 350 000
					tr
						
						td 400-1000
						td 3100-4000
						td 365 000
					tr
						
						td 50
						td 300
						td 2500-4000
						td 280 000
					tr
						td(colspan="4").p-1.border-start-0.border-end-0
					//- --------------------
				
					tr
						td(rowspan="8") 20
						td 200-800
						td 900
						td 190 000
						
					tr
						
						td 200-800
						td 1000
						td 210000
						
					tr
						
						td 200-800
						td 1100
						td 220 000
					tr
						
						td 200-800
						td 1200-1900
						td 240 000
					tr
						
						td 400-1000
						td 2000-2400
						td 280 000
					tr
						
						td 400-1000
						td 2500-2900
						td 300 000
					tr
						
						td 400-1000
						td 3000
						td 330 000
					tr
						
						td 400-1000
						td 3100-4000
						td 350 000

					
					tr
						th(colspan="4").border-start-0.border-end-0 сращенные мебельные щиты из дуба сорт экстра
					tr
						td(rowspan="2") 20
						td 400-800
						td 2500-4000
						td 170 000
						
					tr 
						td 1000
						td 2500-4000
						td 175 000
					tr
						td(rowspan="2")  40
						td 400-800
						td 2500-4000
						td 170 000
					tr
						
						td 1000
						td 2500-4000
						td 175 000
					//- --------------------
					tr
						td 50
						td 70, 300
						td 2500-4000
						td 180 000
						
					tr
						th(colspan="4").border-start-0.border-end-0 сращенные мебельные щиты из дуба сорт вс
					tr
						td(rowspan="2") 20
						td 400-800
						td 2500-4000
						td 125 000
						
					tr 
						td 1000
						td 2500-4000
						td 125 000
						
					tr 
						td(rowspan="2")  40
						td  400-800
						td  2500-4000
						td  125 000
						
					tr 
						td  1000
						td  2500-4000
						td  125 000
					tr
						th(colspan="4").border-start-0.border-end-0 заготовки цельноламельные из дуба сорт экстра
					tr
						td 50
						td 50
						td 900
						td 255 000
					tr
						td 60
						td 60
						td 900
						td 255 000
					tr
						td 80
						td 80
						td 1200
						td 272 000
					//- --------------------
					tr
						th(colspan="4").border-start-0.border-end-0 заготовки цельноламельные из дуба сорт экстра
					tr
						td 80
						td 80
						td 3000
						td 170 000
						
					tr
						td  100
						td 100
						td 3000
						td 170 000 
		.table-wtrap
			table
				thead
					tr.tr-gray.border-bottom.border-white(style='--bs-border-width:6px')
						th(colspan="4") мебельные щиты из ясеня
				tbody
					tr.tr-gray
						td толщина
						td ширина
						td длина
						td цена за м³
					tr
						th(colspan="4").border-start-0.border-end-0  цельноламельные мебельные щиты из ясеня сорт экстра
					
					tr
						td(rowspan="4") 40
						td 300-1000
						td 900
						td 185 000
						
					tr
					
						td 300-1000
						td 1000-1500
						td 199 000
					tr
					
						td 300-1000
						td 1600-2600
						td 208 500
					tr
					
						td 300-1000
						td 3000
						td 246 500
					tr
						td 50
						td 300
						td 2500-4000
						td 195 000
					tr
						th(colspan="4").border-start-0.border-end-0 
					tr
						td(rowspan="4") 20
						td 200-600
						td 900
						td 180 000
						
					tr
					
						td  200-600
						td  1000-1500
						td  184 500
					tr
					
						td  200-600
						td  1600-1900
						td  199 000
					tr
					
						td  200-600
						td  2000-2900
						td  232 000
					tr
						td 200-600
						td 3000
						td 246 500
					tr
						th(colspan="4").border-start-0.border-end-0 заготовки цельноламельные из ясеня сорт экстра
					tr
						td 20
						td 400-800
						td 2500-4000
						td 135 000
						
					tr
						td 40
						td 400-800
						td 2500-4000
						td 135 000
						
					tr
						td 50
						td 300
						td 2500-4000
						td 163 000
						
					tr
						th(colspan="4").border-start-0.border-end-0 заготовки цельноламельные из ясеня сорт экстра
					tr
						td 50, 60
						td 50, 60
						td 900
						td 200 000
						