mixin sWhatCovering(data)
	// start sWhatCovering
	+b.SECTION.sWhatCovering.section#sWhatCovering&attributes(attributes)
		.container
			+e.text-wrap
				h2 чем ПОКРЫВАТЬ термодерево?
				p Все покрытия можно разделить на&nbsp;три вида: краски, лазури и&nbsp;масла.
			+e.text-wrap
				h2 лазури
				p это полупрозрачное покрытие, через которое видна текстура древесины и&nbsp;которое обладает меньшей укрывной способностью, чем краски. В&nbsp;зависимости от&nbsp;основы лазурь бывает на&nbsp;водной, масляной основе или на&nbsp;растворителях. Основной особенностью лазури является создание красивой глянцевой пленки.
			+e.text-wrap
				h2 масла
				p глубоко проникают в&nbsp;структуру древесины, создают дышащую, прочную, эластичную водо- и&nbsp;грязеотталкивающую поверхность. Основное преимущество масла для древесины в&nbsp;том, что это экологичное и&nbsp;открыто пористое покрытие, которое не&nbsp;создает пленки. Масло с&nbsp;пигментом проникает внутрь древесины и&nbsp;держится долгие годы. Неоспоримым преимуществом масел по&nbsp;сравнению с&nbsp;лакокрасочными составами является простота обновления и&nbsp;реставрации ранее обработанных поверхностей строений и&nbsp;конструкций.
				p Подводя итог, можно сказать, что не&nbsp;так важно, как называется покрытие, важно, чтобы оно было на&nbsp;масляной основе, и&nbsp;определиться&nbsp;&mdash; хотите&nbsp;ли вы&nbsp;сохранить текстуру дерева или полностью укрыть&nbsp;ее. Но&nbsp;даже если вы&nbsp;хотите оставить видимой текстуру, покрытие должно быть тонированным. Прозрачные составы с&nbsp;УФ защитой не&nbsp;спасут ваш дом от&nbsp;выгорания. Чем интенсивнее цвет, тем сильнее защита. Термодерево не&nbsp;гниет, поэтому никаких пропиток и&nbsp;дополнительной защиты от&nbsp;гниения ему не&nbsp;требуется.
		+e.full-width-img-wrap
			.img-wrap-center
				+img('img/covering-img-1.jpg', 'bg')
		.container
			+e.photo-caption
				p.gray-70 На&nbsp;фото представлены образцы, покрытые разными маслами (разные производители, тонированные, прозрачные с&nbsp;УФ-защитой). Снизу&nbsp;&mdash; доска простояла 3&nbsp;года, посередине&nbsp;&mdash; 2&nbsp;года, сверху&nbsp;&mdash; доска сразу после покрытия. На&nbsp;данном стенде, выставленном на&nbsp;улице, можно отследить этапы выгорания различных масел и&nbsp;убедиться в&nbsp;необходимости покрывать качественными ТОНИРОВАННЫМИ составами. Четыре образца слева&nbsp;&mdash; доски покрытые на&nbsp;нашем производстве с&nbsp;использованием проверенных немецких масел.
				p К&nbsp;сожалению, недостаточно использовать качественные покрытия. Необходимо соблюдать технологию подготовки и&nbsp;нанесения составов, иначе цена пренебрежения окажется высокой. Доску требуется предварительно отшлифовать, чтобы открыть поры дерева и&nbsp;соблюсти температурные условия нанесения покрытия.
	// end sWhatCovering