// start .sWhatCovering
.sWhatCovering {
	--sPT: #{rem(25)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(56)};
	}
	&__row{
		--bs-gutter-x: #{rem(44)};
		--bs-gutter-y: #{rem(24)};

	}
	&__heading {
		margin: 0 0 rem(40) 0;
		@include media-breakpoint-up(lg) {
			margin: rem(154) 0;
		}
	}
	p {
		font-size: rem(16);
		line-height: 1.31;
		margin-top: rem(34);
		&:last-of-type {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
	}
	&__img-wrap {
		@include block(575, 658);
	}
	&__img-info {
		@include block(482, 1327);
		position: relative;
		padding: rem(30);
		margin-top: rem(21);
		@include media-breakpoint-up(xl) {
			padding: 0;
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;	
			height: 100%;
			left: 0;
			top: 0;
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
		}
	} 
	--w: #{rem(40)};
	@include media-breakpoint-up(md) {
		--w: #{rem(56)};
	}
	&__item {
		display: inline-flex;
		position: relative;
		padding-left: calc(var(--w) + rem(20));
		align-items: center;
		color: #fff;
		min-height: var(--w);
		text-transform: uppercase;
		font-size: rem(14);
		margin-bottom: rem(18);
		@include media-breakpoint-up(xl) {
			font-size: rem(18);
			position: absolute;
			margin-bottom: 0;
			&--abs-1 {
				left: 6%;
				top: 21%;
			}
			&--abs-2 {
				left: 25%;
				top: 54%;
			}
			&--abs-3 {
				left: 42%;
				top: 80%;
			}
			&--abs-4 {
				left: 58%;
				top: 16%;
			}
			&--abs-5 {
				left: 70%;
				top: 49%;
				max-width: rem(360);
			}
		}
	}
	&__icon {
		position: absolute;
		border: 1px solid #FFFFFF;
		border-radius: 50%;
		z-index: 4;
		width: var(--w);
		height: var(--w);
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		&::before{
			content: '';
			@include a-cent; 

			width: calc(var(--w) - #{rem(12)});
			height: calc(var(--w) - #{rem(12)});
			border-radius: inherit;
			background:   rgba(217, 217, 217, 0.3);
			
		}
		&::after{
			content: '';
			@include a-cent;
			background-image: url(../img/svg/check.svg);
			background-repeat: no-repeat;
			background-size: 70%;
			background-position: center center;
			width: calc(var(--w) - #{rem(22)});
			height: calc(var(--w) - #{rem(22)}); 
			background-color: $primary;
			border-radius: inherit;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWhatCovering