mixin sWhatCovering(data)
	// start sWhatCovering
	+b.SECTION.sWhatCovering.section#sWhatCovering&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+e.H2.heading ЗАЧЕМ НУЖНО ПОКРЫВАТЬ термодерево?
					+e.img-wrap
						.img-wrap-center: +img('img/covering-img-2.jpg', 'bg')
				.col-lg-6
					+e.img-wrap
						.img-wrap-center: +img('img/covering-img-3.jpg', 'bg')
					p Как известно, термодерево не&nbsp;гниет, и&nbsp;основным врагом для него остается солнце. Под действием ультрафиолета происходит разрушение лигнина&nbsp;&mdash; повышается проницаемость верхнего слоя, на&nbsp;поверхности образуются молекулы целлюлозы, исходный цвет блекнет и&nbsp;появляется серый оттенок. Покрытие&nbsp;&mdash; единственный и&nbsp;самый простой способ защитить доску от&nbsp;внешней агрессивной среды и&nbsp;подчеркнуть архитектурный облик Вашего дома.
			p Основные требования к покрытию для термодревесины:
			+e.img-info.bg-wrap
				+img('img/covering-img-4.jpg', 'bg').picture-bg
				mixin item(text)
					+e.item&attributes(attributes)
						+e.icon 
						!= text
				+item('защищает от выгорания').--abs-1
				+item('позволяет дереву дышать').--abs-2
				+item('не содержит в составе агрессивной химии').--abs-3
				+item('не перекрывает текстуру древесины').--abs-4
				+item('дополнительная защита от растрескивания').--abs-5
	// end sWhatCovering