mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		+item-sos('', 'https://vk.com/termowoodofficial')
			+img('img/vk.png')
		+item-sos('', 'https://t.me/TERMO_1WOOD1')
			+img('img/youtube.png')
		+item-sos('', 'https://www.youtube.com/channel/UCBaRZ5XjwGMX5g5_SBfCdJQ')
			+img('img/telegram.png')
//- /social buttons 