mixin sProdCardTabs(data)
	// start sProdCardTabs
	+b.sProdCardTabs.section&attributes(attributes)
		.container
			.tabs
				.swiper.tabs-swiper
					.tabs__caption.swiper-wrapper
						.tabs__btn.active.swiper-slide описание
						.tabs__btn.swiper-slide сроки
						.tabs__btn.swiper-slide рекомендации
						.tabs__btn.swiper-slide покрытие
						.tabs__btn.swiper-slide оплата
					.tabs__content.active
						p Термодерево&nbsp;&mdash; это геометрически стабильная, экологичная, долговечная фасадная доска из&nbsp;натурального цельного массива для внутренней и&nbsp;внешней отделки
						p Термоясень (Thermo Ash)&nbsp;&mdash; самый популярный вид термодревесины для наружного применения. Термоясень&nbsp;&mdash; красивая, благородная, твердая порода. Термоясень очень предсказуем, что упрощает эксплуатацию и&nbsp;уход за&nbsp;готовыми изделиями. Чаще всего термоясень выбирают из-за его красоты и&nbsp;богатой текстуры. Внешние данные термоясеня и&nbsp;его свойства превосходят большинство пород экзотических деревьев.
						p ООО &laquo;Термо Вуд&raquo; производит различные изделия из&nbsp;термоясеня: фасадная доска, планкен, террасная доска, декинг, массивная доска пола, имитация бруса, вагонка, строганная доска. Также мы&nbsp;делаем под заказ погонажные изделия по&nbsp;чертежам Заказчика и&nbsp;комплектующие (уголки, плинтуса и&nbsp;т.д.)
						p Термоясень отлично себя зарекомендовал не&nbsp;только во&nbsp;внешней отделке, но&nbsp;и&nbsp;в&nbsp;помещениях в&nbsp;повышенной влажностью&nbsp;&mdash; ванных, душевых, бассейнах. Все чаще живое и&nbsp;теплое термодерево используют вместо плитки.
					.tabs__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque similique deleniti, molestiae animi, nobis, aliquam ipsa temporibus reiciendis quasi explicabo officia eveniet aut tempora. Suscipit praesentium enim quo voluptate. Quisquam ipsa perferendis autem aut animi minima molestiae placeat necessitatibus est!
					.tabs__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure voluptatem, blanditiis, unde fugiat recusandae, quos provident ipsum ipsam alias mollitia quae laboriosam ad accusamus rerum dicta quidem. Illum, itaque debitis?
					.tabs__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam impedit dolores vitae, natus et tempora voluptate nobis sunt aut ratione minima veritatis aspernatur expedita fugiat quaerat rerum tempore iste eligendi neque magnam tenetur? Recusandae veniam eos repellat asperiores nobis, sunt iure ullam officiis corrupti voluptas vel, magni obcaecati rerum cum dolorem architecto fuga at? Rerum et quas labore atque. Sunt.
					.tabs__content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quo numquam quisquam ut, eius dolorum excepturi magni debitis eos temporibus laudantium provident, accusamus labore dolor totam blanditiis nisi esse quod laborum. Nobis, similique quidem. Blanditiis natus aperiam tempora neque nisi voluptates nemo officiis modi sunt enim! Mollitia iste voluptatibus ab dolore dolor nemo placeat ipsa laboriosam praesentium excepturi temporibus, quidem quam adipisci tenetur nulla dolorem quibusdam eligendi repellendus eum voluptate.
	// end sProdCardTabs